<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>1221</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6.3</string>
	<key>CFBundleVersion</key>
	<string>GLUT-3.6.3</string>
	<key>ProjectName</key>
	<string>GLUT</string>
	<key>SourceVersion</key>
	<string>3006003000000</string>
</dict>
</plist>
